header {
    padding-top: 1vh;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    height: 100%;
    width: 70%;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header li {
    list-style-type: none;
}

header li a {
    color: white;
    text-decoration: none;
    font-size: 0.8em;

}

header li:hover {
    cursor: pointer;
}

.right {
    width: 10vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 1vw;
}

.right img:nth-child(1) {
    width: 1.5em;
    height: 1.5em;
}

.right img:nth-child(2) {
    width: 2em;
    height: 2em;
}

.right img {
    cursor: pointer;
}

.notifications-preview:hover,
.right img:nth-child(1):hover~.notifications-preview,
.login-form:hover,
.right img:nth-child(2):hover~.login-form {
    visibility: initial;
    opacity: 1;
}

.notifications-preview,
.login-form {
    visibility: hidden;
    opacity: 0;
    background-color: rgba(233, 233, 233, 0.5);
    backdrop-filter: blur(10px);
    width: 25vw;
    height: 60vh;
    position: absolute;
    right: calc(11vw - 4vh - ((10vw - 1.5em - 2em) / 3) - 0.75em);
    top: 10vh;
    transition: opacity 0.2s, visibility 0.2s;
    z-index: 10;

}

.notifications-preview::before,
.login-form::before {
    content: '';
    position: absolute;
    top: -2vh;
    right: 2vh;
    margin-top: -1.8vh;
    border-width: 2vh;
    border-style: solid;
    border-color: transparent transparent #E9E9E9 transparent;
}

.notifications-preview>h1 {
    text-align: center;
    font-size: 1.3em;
    margin: 4vh 0;
}

.notifications-preview-container {
    width: 100%;
    height: 70%;
    overflow-y: auto;
}

.notifications-preview-content {
    background-color: white;
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vh auto;
}

.notifications-preview-content h1 {
    font-family: PPWoodland-Bold;
    font-size: 1em;
    margin-left: 1.5em;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.notifications-preview-content p {
    font-family: PPWoodland-Ultralight;
    font-size: 1em;
    margin-right: 1.5em;
    margin-left: 1.5em;
}

.view {
    color: black;
    margin: auto;
    display: block;
    width: max-content;
}

.login-form {
    display: flex;
    flex-direction: column;
    height: max-content;
    right: calc(11vw - 4vh - ((10vw - 1.5em - 2em) / 3 * 2) - 2.5em);
}

.login-form label {
    margin-left: 10%;
    margin-top: 3vh;
}

.login-form input {
    /*reset default*/
    border: 3px solid rgba(0, 0, 0, 0.5);
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    /*******/
    height: 5vh;
    font-size: 1em;
    padding: 0 0.5em;
    width: calc(80% - 1em);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.login-form input:focus {
    border: 3px solid rgba(0, 0, 0);
}

.login {
    margin-top: 3vh;
    margin-bottom: 5vh;
    width: 80%;
    height: 6vh;
    text-align: center;
    border: 5px solid black;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: color 0.2s, background-color 0.2s;
    cursor: pointer;
}

.login:hover {
    color: white;
    background-color: black;
}

.login p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.welcome-text {
    text-align: center;
    margin: 10vh 0;
}